/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgba(190, 95, 190, 0.756);
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Nav style  */
nav{
    top: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
li a.active{
    background-color: #04AA6D;
    color: white;
}

/* index page style */
.wrapper{
    width: 100%;
    margin: 0;
}
.index-intro,
.index-topics,
.index-categories,
.index-categories-list,
.index-benefits{
    font-weight: 600;
    text-align: center;
    line-height: 2;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    width: 33%;
    height: 100%;  
    margin: auto;
}
.index-categories-list{
    border: 3px solid green;
}
.index-benefits{
    font-size: 16px;
}


/* about style sheet */
.about-intro,
.about-categories,
.about-categories-list{
    font-weight: 600;
    text-align: center;
    line-height: 2;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    width: 66%;
    height: 100%;  
    margin: auto;
}
.about-categories-list{
    border: 3px solid green;
}

.about-benefits{
    font-size: 16px;
}

/* Demo style */

/* Cards*/

.card {
    width:40px;
    height:60px;
    border:1px solid #151718;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
    cursor:pointer;
}
  
span.number, span.suit {
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}

.productHolder {
    display: -webkit-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
}
   
  
.galleryCard {
    cursor: pointer;
    display: flex;
    background: white;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
}

.embed-responsive .card-img-top{
    object-fit: contain;
    border-radius: 1rem;
}
  
.galleryCard:hover{
    transform: scale(1.1);
}
  
.galleryCardText {
    margin: 0.5rem;
}
  
.nameText{
    font-weight: 300;
    opacity: 0.7;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


/* *main{
    margin: 0;
}

body {
    margin: 0;
}

nav{
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */
  
  /* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: #111;
}

.container {
    width: 841px;
    margin: 20px auto;
}

.hack{
    width: 841px;
    margin: 20px auto;
} */

/* Cards*/
/* .productHolder {
    display: -webkit-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
  }
   */
  
/* .galleryCard {
    cursor: pointer;
    display: flex;
    background: white;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
}

.embed-responsive .card-img-top {
    object-fit: contain;
    border-radius: 1rem
}
  
.galleryCard:hover{
    transform: scale(1.1);
}
  
.galleryCardText {
    margin: 0.5rem;
}
  
.nameText{
    font-weight: 300;
    opacity: 0.7;
}


@media (max-width: 1200px) {

  #getARandomName 
  {text-align: center;}

  } */